// *
// _grid.scss
// Utilizado para ejemplo en Campus Party.
// Hoja que contiene todas las variables de tamaños, colores y fuentes.
// Desarrollado por la Dirección General Innovación y Gobierno Digital - SEPAF
// *

$porcent: '%';

.row {
  display: inline-block;
  margin-left: -.1em;
  margin-right: -.1em;
}

@each $type, $size-screen in $s-size {
  @media all and (min-width: #{$size-screen}) {
    $h: (100 / 12);
    @for $i from 1 through 12 {
      .l-#{$type}-#{$i} {
        float: left;
        padding: .5em;
        width: ($i * $h)#{$porcent};
      }
    }
  }
}
