<!DOCTYPE html>
html( lang = 'es' )
head
  meta( charset = 'UTF-8')
  title Always Water | Inicio
  link( rel = 'stylesheet' href = 'css/main.css' )
  meta( name = 'viewport' content = 'width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' )

body
  //- Sección de principal
  section.main.is-full-page
    nav.navigation
      .container
        .brand
          a( href = '#' )
            h1.is-mayus.title-site Always water

        ul.navigation__list
          li.navigation__item
            a( href = '#' ).navigation__link.active Acerca de
          li.navigation__item
            a( href = '#' ).navigation__link Proceso de compra
          li.navigation__item
            a( href = '#' ).navigation__link Contacto
          li.navigation__item
            a( href = '#' ).btn.btn-primary Login

    .container.publicity
      img( src = '' alt = '' ).logo
      h2.is-mayus.publicity__title Si, ¡si hay agua!
      .publicity__play
        a( href = '' )
          img( src = 'images/play_icon.svg' alt = '' )
      h6.publicity__subtitle Ve este video para que nunca te falte agua
  
  //- Sección de Agua siempre cerca -- Objetivos
  section.benefits.is-padding-top-3.is-padding-bottom-5
    .container
      h2.is-text-center.subtitle-site Agua siempre cerca
      h6.is-text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    
      .benefits__block.row.is-margin-bottom-2
        .l-desktop-2
          img( src = 'images/smartphone_icon.svg' alt = '' ).benefits__image
        .l-desktop-10
          h6.is.mayus Haz tu pedido desde tu smartphone
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore laboriosam, ullam iusto illum voluptas corporis!
      .benefits__block.row.is-text-right.is-margin-bottom-2
        .l-desktop-10
          h6.is.mayus Haz tu pedido desde tu smartphone
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore laboriosam, ullam iusto illum voluptas corporis!
        .l-desktop-2
          img( src = 'images/lista_icon.svg' alt = '' ).benefits__image
      .benefits__block.row.is-margin-bottom-2
        .l-desktop-2
          img( src = 'images/garafon_icon.svg' alt = '' ).benefits__image
        .l-desktop-10
          h6.is.mayus Haz tu pedido desde tu smartphone
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore laboriosam, ullam iusto illum voluptas corporis!
      
      .is-text-center.is-margin-top-5
        a( href = '' ).btn.btn-primary Quiero saber más
  
  //- Sección de levantar el pedido / Garrafón
  section.order.m-background-blue.is-padding-top-3.is-padding-bottom-5
    .container
      .row
        .order__image.l-television-5.l-desktop-3
          img( src = 'images/garrafon-azul.png' alt = '' ).is-img-responsive
        .order__description.l-television-5.l-desktop-9.is-padding-top-5.is-padding-left-5
          h2.subtitle-site-contrast Garrafón de 20 lts.
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere eaque commodi, officiis a, quis rerum?
          .is-margin-top-4
            a( href = '' ).btn.btn-secondary Levantar pedido

  //- Sección de zonas de reparto
  section.repart.is-padding-top-3.is-padding-bottom-3
    .container
      .is-text-center.is-margin-bottom-3
        h2.subtitle-site Zonas de reparto
        small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, ullam qui officiis consectetur et hic.
      
      .slider
        .slider__item.l-desktop-4
          .slider__map
            iframe( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3731.1455310792107!2d-103.40563215168025!3d20.744894687844305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428af829360712b%3A0xaf5bf82b658de997!2sAlmer%C3%ADa+997%2C+Lomas+de+Zapopan%2C+45130+Zapopan%2C+Jal.!5e0!3m2!1ses!2smx!4v1497142196323" frameborder="0" style="border:0" allowfullscreen ).is-img-responsive
          .slider__title
            span.is-mayus Guadalajara
          .slider__description
            p.is-not-margin.is-text-center > lorem 1
            p.is-not-margin.is-text-center > lorem 2
            p.is-not-margin.is-text-center > lorem 3
            p.is-not-margin.is-text-center > lorem 4

        .slider__item.l-desktop-4
          .slider__map
            iframe( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3731.1455310792107!2d-103.40563215168025!3d20.744894687844305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428af829360712b%3A0xaf5bf82b658de997!2sAlmer%C3%ADa+997%2C+Lomas+de+Zapopan%2C+45130+Zapopan%2C+Jal.!5e0!3m2!1ses!2smx!4v1497142196323" frameborder="0" style="border:0" allowfullscreen ).is-img-responsive
          .slider__title
            span.is-mayus Zapopan
          .slider__description
            p.is-not-margin.is-text-center > lorem 1
            p.is-not-margin.is-text-center > lorem 2
            p.is-not-margin.is-text-center > lorem 3
            p.is-not-margin.is-text-center > lorem 4

        .slider__item.l-desktop-4
          .slider__map
            iframe( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3731.1455310792107!2d-103.40563215168025!3d20.744894687844305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428af829360712b%3A0xaf5bf82b658de997!2sAlmer%C3%ADa+997%2C+Lomas+de+Zapopan%2C+45130+Zapopan%2C+Jal.!5e0!3m2!1ses!2smx!4v1497142196323" frameborder="0" style="border:0" allowfullscreen ).is-img-responsive
          .slider__title
            span.is-mayus Tlaquepaque
          .slider__description
            p.is-not-margin.is-text-center > lorem 1
            p.is-not-margin.is-text-center > lorem 2
            p.is-not-margin.is-text-center > lorem 3
            p.is-not-margin.is-text-center > lorem 4
      
    .is-text-center.is-margin-top-4.is-margin-bottom-2
      a( href = '' ).btn.btn-primary Ver todas las zonas

  //- Sección de la Aplicación
  section.app.m-background-gray-light.is-padding-top-3.is-padding-bottom-3
    .container
      .row
        .app_image.l-desktop-4
            img( src = 'images/iPhone.png' alt = '' ).is-img-responsive
        .app_description.l-desktop-8
          h2.subtitle-site Consigue nuestra aplicación
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas exercitationem aliquam voluptates dolorem, ratione, officiis!
          .row
            img( src = 'images/google-play.png' alt = '' ).app__icon
            img( src = 'images/app-store.png' alt = '' ).app__icon

  //- Sección de preguntas
  section.questions
    .container.is-padding-top-3.is-padding-bottom-3.is-table
      h2.subtitle-site.is-text-center.is-padding-bottom-1 Deja tus comentarios o dudas
      form.webform.l-desktop-8
        input( placeholder = 'Nombre' type = 'text' ).l-desktop-10.is-margin-bottom-1
        input( placeholder = 'Correo electrónico' type = 'email' ).l-desktop-10.is-margin-bottom-1
        textarea( cols = '50' placeholder = 'Escribe tus comentarios o dudas' rows = '6' ).l-desktop-10.is-margin-bottom-1
        .is-clearfix.is-text-center.l-desktop-10
          button.btn.btn-primary Enviar

      .questions__description.l-desktop-4
        p.is-not-margin Primo feliciano Velázquez #648
        p.is-not-margin Santo Santiago
        p.is-not-margin Guadalajara
        p.is-not-margin C.P. 44500
        p.is-not-margin Jalisco, Guadalajara
        p.is-not-margin.is-padding-bottom-2 _____________________
        p.is-not-margin hello@alwayswater.com
        p.is-not-margin.is-padding-top-1.is-padding-bottom-1 _____________________
        p.is-not-margin + 52 (33) 3321.1718

  footer.footer.m-background-gray-dark
    .container
      .footer__row
        .brand
          //- img.logo-little
          h6.is-mayus.title-site.is-margin-top-2.is-margin-bottom-1 Always water
        .is-inline-block
          a( href = '' ).btn.btn-primary 
            small Login
      .footer__row.is-padding-bottom-2
        small Términos y condiciones | Aviso de privacidad
        small &copy; Always Water. Todos los derechos reservados.